
input[type="file"] {
    display: none;
}

.search_container{
    visibility: hidden;
}

.search_container_active{
   visibility: visible;
    margin-top: 85px;
    border-radius: 15px 15px 0px 15px;
    width: 360px;
    height: 360px;
    background: white;
    z-index: -1;
    padding: 15px;
}
