
input[type="file"] {
    display: none;
}

.search_container{
    visibility: hidden;
}

.search_container_active{
   visibility: visible;
    margin-top: 85px;
    border-radius: 15px 15px 0px 15px;
    width: 360px;
    height: 360px;
    background: white;
    z-index: -1;
    padding: 15px;
}

.kitten{
    animation: kitten_pric .8s ease-out infinite;
    margin: auto;
    margin-top: 300px;
}

@keyframes kitten_pric {
    0%{
        transform: scaleY(.5);
    }
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1.5);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(.5);
    }
}